{$SUNLENA_HOST} {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}

	@api path /api/*
	reverse_proxy @api api:8000
	reverse_proxy web:8080
}
